@use "../helpers" as *;

.complex {
  padding-top: rem(235);
  padding-bottom: rem(147);
  background: var(--8);
  position: relative;
  perspective: rem(800);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140%;
    height: 140%;
    pointer-events: none;
    z-index: -1;
    translate: -15% -10%;
    transform: rotateY(-7deg) rotateZ(2deg);

    background-image:
      linear-gradient(to right, var(--1) rem(2), transparent rem(2)),
      linear-gradient(
        to bottom,
        var(--1) rem(2),
        rgba(17, 114, 185, 0.08) rem(2)
      );

    background-size: rem(90) rem(80);
    // opacity: 0.3;
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__title {
    max-width: rem(1200);
    color: var(--4);
  }

  &__subtitle {
    margin-top: rem(20);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: rem(20);
    color: var(--5);
  }

  &__steps {
    margin-top: rem(69);
    counter-reset: complex-counter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: rem(36);
  }

  &__step {
    flex: 0 1 rem(710);
    counter-increment: complex-counter;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px) saturate(200%);
    border-radius: rem(20);
    box-shadow:
      0 rem(8) rem(32) 0 rgba(0, 0, 0, 0.37),
      rem(-20) rem(-20) rem(80) rgba(17, 114, 185, 0.2) inset;
    overflow: hidden;

    &:nth-of-type(1) {
      .complex__step-title {
        max-width: rem(420);
      }
    }
    &:nth-of-type(2) {
      .complex__step-title {
        max-width: rem(360);
      }
    }
    &:nth-of-type(3) {
      .complex__step-title {
        max-width: rem(294);
      }
    }
    &:nth-of-type(4) {
      .complex__step-title {
        max-width: rem(354);
      }
    }
    &:nth-of-type(5) {
      .complex__step-title {
        max-width: none;
      }
    }
    &:nth-of-type(6) {
      .complex__step-title {
        max-width: rem(288);
      }
    }

    &-image {
      width: 120%;
      position: relative;
      clip-path: polygon(0% 0%, 100% 0, 100% 75%, 94% 100%, 0 100%, 0 25%);

      &::before {
        content: "";
        width: 100%;
        position: absolute;
        inset: 0;
        background: linear-gradient(
          rgba(17, 114, 185, 0),
          rgba(17, 114, 185, 0.75)
        );
      }
    }

    &-content {
      padding: rem(24) rem(20);
    }

    &-title {
      color: var(--2);
      position: relative;
      z-index: 1;
      perspective: rem(1000);

      &::before,
      &::after {
        content: counter(complex-counter, decimal-leading-zero);
        width: rem(114);
        height: rem(66);
        padding-top: rem(10);
        padding-left: rem(20);
        font-family: var(--second-family);
        font-weight: 500;
        font-size: rem(45);
        line-height: 100%;
        color: var(--3);
        position: absolute;
        top: 0;
        left: rem(-20);
        translate: 13% -134.6%;
        z-index: -1;
      }

      &::after {
        content: "";
        background-color: var(--1);
        transform: skew(-31deg) scale(0.915, 1);
        z-index: -2;
        box-shadow: 0 rem(20) rem(20) rgba(155, 155, 155, 0.65);
        filter: blur(1px);
      }
    }

    &-description {
      margin-top: rem(20);
      font-weight: 300;
      font-size: rem(18);
      line-height: 130%;
      color: var(--2);
    }
  }
}

@include tablet {
  .complex {
    padding-top: rem(163);
    padding-bottom: rem(89);

    &__subtitle {
      font-size: rem(18);
    }

    &__steps {
      margin-top: rem(30);
      row-gap: rem(25);
    }

    &__step {
      flex: 0 1 49%;

      &:nth-of-type(1) {
        .complex__step-title {
          max-width: rem(360);
        }
      }
      //   &:nth-of-type(2) {
      //     .complex__step-title {
      //       max-width: rem(360);
      //     }
      //   }
      //   &:nth-of-type(3) {
      //     .complex__step-title {
      //       max-width: rem(294);
      //     }
      //   }
      //   &:nth-of-type(4) {
      //     .complex__step-title {
      //       max-width: rem(354);
      //     }
      //   }
      //   &:nth-of-type(5) {
      //     .complex__step-title {
      //       max-width: none;
      //     }
      //   }
      //   &:nth-of-type(6) {
      //     .complex__step-title {
      //       max-width: rem(288);
      //     }
      //   }

      &-title {
        &::before,
        &::after {
          width: rem(86);
          height: rem(48);
          // padding-left: rem(20);
          font-size: rem(30);
          position: absolute;
          // left: rem(2);
          translate: 13% -190%;
        }
      }

      &-description {
        margin-top: rem(10);
        font-size: rem(14);
      }
    }
  }
}

@include mobile {
  .complex {
    padding-top: rem(80);
    padding-bottom: rem(50);

    &::before {
      background-size: rem(50) rem(45);
    }

    &__title {
      // padding-inline: rem(27);
    }

    &__subtitle {
      margin-top: rem(10);
      // padding-left: rem(27);
      font-size: rem(16);
    }

    &__steps {
      margin-top: rem(28);
      row-gap: rem(31);
    }

    &__step {
      flex: 0 1 100%;
      border-radius: rem(4);

      &:nth-of-type(1) {
        .complex__step-title {
          max-width: rem(334);
        }
      }
      //   &:nth-of-type(2) {
      //     .complex__step-title {
      //       max-width: rem(360);
      //     }
      //   }
      //   &:nth-of-type(3) {
      //     .complex__step-title {
      //       max-width: rem(294);
      //     }
      //   }
      &:nth-of-type(4) {
        margin-top: rem(8);
        //   .complex__step-title {
        //     max-width: rem(354);
        //   }
      }
      //   &:nth-of-type(5) {
      //     .complex__step-title {
      //       max-width: none;
      //     }
      //   }
      &:nth-of-type(6) {
        margin-top: rem(5);
        //     .complex__step-title {
        //       max-width: rem(288);
        //     }
      }

      &-image {
        // clip-path: polygon(7% 0%, 100% 0, 100% 75%, 93% 100%, 0 100%, 0 25%);
      }

      &-title {
        // margin-top: rem(15);
        font-size: rem(15);

        &::before,
        &:after {
          width: rem(74);
          height: rem(42);
          padding-left: rem(19);
          font-size: rem(22);

          translate: 8% -156%;
        }

        &::after {
          transform: skew(-24deg) scale(0.915, 1);
        }
      }
    }
  }
}
