@use "../helpers" as *;

.equipment {
  padding-top: rem(150);
  padding-bottom: rem(149);
  position: relative;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__content {
    max-width: rem(580);
  }

  &__title {
    color: var(--3);
  }

  &__subtitle {
    margin-top: rem(30);
    color: var(--1);
  }

  &__description {
    margin-top: rem(30);
    line-height: 120%;
    font-size: rem(20);
    color: var(--1);
  }

  &__list {
    margin-top: rem(33);
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(28);

    &-item {
      flex: 0 0 rem(230);
      font-size: rem(20);
      color: var(--1);

      b {
        margin-bottom: rem(10);
        display: block;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: rem(45);
        line-height: 100%;
        color: var(--3);

        span {
          font-weight: 400;
          font-size: rem(24);
          line-height: 130%;
        }
      }
    }
  }

  &__action {
    width: rem(485);
    height: rem(70);
    margin-top: rem(62);
  }
}

@include tablet {
  .equipment {
    padding-top: rem(100);
    padding-bottom: rem(99);

    &__content {
      max-width: rem(550);
    }

    &__subtitle {
      margin-top: rem(20);
    }

    &__description {
      margin-top: rem(30);
      font-size: rem(18);
    }

    &__list {
      margin-top: rem(34);
      row-gap: rem(21);

      &-item {
        flex: 0 0 rem(210);
        font-size: rem(18);

        b {
          font-size: rem(30);

          span {
            font-size: rem(18);
          }
        }
      }
    }

    &__action {
      width: rem(485);
      margin-top: rem(68);
    }
  }
}

@include mobile {
  .equipment {
    padding-top: rem(50);
    padding-bottom: rem(60);

    &__content {
      max-width: rem(335);
    }

    &__subtitle {
      margin-top: rem(10);
    }

    &__description {
      margin-top: rem(10);
      font-size: rem(14);
    }

    &__list {
      margin-top: rem(26);
      //   row-gap: rem(23);

      &-item {
        flex: 0 0 rem(160);
        font-size: rem(14);

        b {
          font-size: rem(22);

          span {
            font-size: rem(14);
          }
        }
      }
    }

    &__action {
      width: 100%;
      height: rem(57);
      margin-top: rem(50);
    }
  }
}
