@use "../helpers" as *;

.header {
  width: 100%;
  position: absolute;
  top: rem(20);
  left: 0;
  z-index: 100;

  &:has(.header__menu--active) {
    &::before {
      opacity: 0.7;
      visibility: visible;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: rem(1190);
    background: var(--4);
    opacity: 0;
    position: absolute;
    top: rem(-20);
    left: 0;
    transition: opacity var(--transition-duration) ease;
    visibility: hidden;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;

    &--desktop {
      @include flex-center;
      width: rem(293);
      height: rem(96);
      padding: rem(20) rem(25);
      background-color: var(--4);
    }

    &--mobile {
      display: none;
    }
  }

  &__menu {
    margin-left: auto;
    display: contents;
    position: relative;
    z-index: 0;

    &--active {
      display: block;

      .header__menu-wrapper {
        display: grid;
        grid-template-rows: 1fr;
      }

      .header__socials {
        &-link {
          svg {
            fill: var(--4);
          }
        }
      }

      .header__navigation,
      .header__menu-content,
      .header__phone,
      .header__ask {
        display: flex;
      }
    }

    &-wrapper {
      width: rem(307);
      min-height: rem(400);
      display: contents;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.4s cubic-bezier(0.19, 1, 0.22, 1);
      position: absolute;
      top: 0;
      right: 0;
      translate: 9% -5.5%;
    }

    &-content {
      padding: rem(52) rem(20) rem(20) rem(26);
      display: contents;
      flex-direction: column;
      background-color: var(--1);
      overflow: hidden;
      clip-path: polygon(14% 0%, 100% 0, 100% 83%, 87% 100%, 0 100%, 0 18%);
    }

    &-logo {
      width: rem(242);
      margin-bottom: rem(30);
      margin-left: rem(24);
      display: none;
    }
  }

  &__navigation {
    display: none;
    margin-bottom: rem(20);

    &-list {
      padding-left: rem(28);
      display: flex;
      flex-direction: column;
      gap: rem(21);
    }

    &-item {
    }

    &-link {
      font-family: var(--second-family);
      font-weight: 500;
      font-size: rem(16);
      line-height: 130%;
      text-transform: uppercase;
      color: var(--4);

      &:hover {
        opacity: 0.75;
      }
    }
  }

  &__socials {
    padding-left: rem(23);
    display: flex;
    gap: rem(5);

    &-link {
      border-radius: 50%;
      overflow: hidden;

      &:hover {
        svg {
          scale: 1.08;
        }
      }

      svg {
        width: rem(40);
      }
    }
  }

  &__phone {
    display: none;
    margin-top: rem(22);
    padding-left: rem(34);
    font-weight: 400;
    font-size: rem(25);
    line-height: 100%;
    color: var(--2);

    &:hover {
      text-decoration: underline;
    }
  }

  &__ask {
    display: none;
    height: rem(57);
    margin-top: rem(18);
    font-size: rem(12);
    clip-path: polygon(14% 0%, 100% 0%, 86% 100%, 0% 100%);
  }

  &__menu-open {
    width: rem(24);
    margin-left: rem(56);
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    color: var(--1);

    &--active {
      color: var(--4);

      svg {
        line {
          &:nth-of-type(1) {
            rotate: -45deg;
            translate: 20% 30%;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            rotate: 45deg;
            translate: 20% -20%;
          }
        }
      }
    }

    &::before {
      @include abs-center;
      content: "";
      width: rem(44);
      height: rem(44);
    }

    svg {
      width: 100%;

      line {
        transform-origin: center;
      }
    }
  }
}

@include tablet {
  .header {
    &::before {
      height: rem(1046);
    }

    &__menu-open {
      margin-left: rem(54);
      margin-right: rem(4);
      translate: 0 0;
    }
  }
}

@include mobile {
  .header {
    top: rem(10);

    &::before {
      top: rem(-10);
      height: rem(938);
    }

    &__logo {
      &--desktop {
        display: none;
      }

      &--mobile {
        width: rem(70);
        height: rem(70);
        display: block;
      }
    }

    &__menu {
      &--active {
        .header__menu-logo {
          display: block;
        }

        .header__socials {
          display: flex;
        }
      }

      &-wrapper {
        width: rem(365);
        translate: 4% -4.5%;
      }

      &-content {
        padding: rem(18) rem(20) rem(20) rem(26);
        clip-path: polygon(12% 0%, 100% 0, 100% 85%, 89% 100%, 0 100%, 0 16%);
      }
    }

    &__socials {
      padding-left: rem(20);
      display: none;
    }

    &__navigation {
      margin-bottom: rem(29);

      &-list {
        padding-left: rem(20);
        display: flex;
        flex-direction: column;
        gap: rem(22);
      }
    }

    &__phone {
      padding-left: rem(20);
    }

    &__ask {
      width: rem(335);
      display: none;
      height: rem(57);
      margin-top: rem(12);
      font-size: rem(12);
      translate: rem(-10) 0;
      clip-path: polygon(9% 0%, 100% 0%, 90% 100%, 0% 100%);
    }
  }
}
