@use "helpers" as *;

* {
  -webkit-tap-highlight-color: transparent;
  // outline: 2px solid green;
}

html {
  font-size: vw(16px);

  @include tablet {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  background: var(--1);
  color: var(--2);
  position: relative;
}

main {
  overflow-x: hidden;
  flex-grow: 1;
}

h1,
h2,
h3,
p,
span,
button,
a {
  letter-spacing: 0.008em;

  @include tablet {
    letter-spacing: 0em;
  }
}

a,
button,
label,
input,
textarea,
select,
svg,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: none;
}

@include tablet-above {
  a:focus-visible,
  button:focus-visible,
  input:focus-visible,
  details:focus-visible {
    outline: rem(4) dashed var(--3);
    outline-offset: rem(4);
    transition-duration: 0s !important;
    // scale: 1.1;
  }
}

img {
  width: 100%;
}

.animated {
  opacity: 1 !important;
  transform: none !important;
}

[data-anim].visible {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
